{% extends 'base.html' %}
{% load static %}
{% block title %} Страница с ссылками {% endblock %}
{% block content %}
      <section class="s-banner">
        <div class="container">
          <div class="row align-center">
            <div class="col col-md-6 f-column align-start">

              <h1 class="h1 pagetitle">Наркологическая клиника лечения всех типов зависимости</h1>

                                          <div class="s-banner__subtitle">Лечение алкоголизма, наркомании в клинике проводится на анонимной основе, вся информация о результатах обследовани и лечения является строго конфиденциальной</div>
              <button class="btn red" data-fancybox="" data-src="#feedback">Записаться на приём</button>
            </div>
            <div class="col col-md-6 p-xs-0">
              <div class="s-banner__right">
                <picture><img class="s-banner__image" src="{% static 'image/dokto.png' %}" alt="" style="margin: 0 0 2.5em 0;"></picture>
                <div class="s-banner-list">
                  <div class="s-banner-list__item">
                    <div class="wrap">
                      <div class="title">1 час</div>
                      <div class="info">Врач приедет в&nbsp;течение часа</div>
                    </div>
                  </div>
                  <div class="s-banner-list__item">
                    <div class="wrap">
                      <div class="title">24/7</div>
                      <div class="info">Анонимно и&nbsp;круглосуточно</div>
                    </div>
                  </div>
                  <div class="s-banner-list__item">
                    <div class="wrap">
                      <div class="title">100%</div>
                      <div class="info">Бесплатная консультация</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-main-services">
        <div class="container">
          <div class="row">
            <div class="col f-column">
              <h3 class="section__title">Наши услуги
                <picture><img class="pulse" src="{% static 'netcat_template/template/new_design/assets/upload/pulse.svg' %}" alt=""></picture>
              </h3>
            </div>
          </div>
          <div class="row s-main-services-list">
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/vyvod-iz-zapoya/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-1.webp' %}" alt=""></picture>
                  <div class="time">2 часа</div>
                </div>
                <div class="information">
                  <div class="name">Вывод из запоя</div>
                  <div class="price"><span>от</span> 3 500 ₽</div>
                  <div class="info">Снятие интоксикации, регидратация, психологическая помощь</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/vyvod-iz-zapoya/kapelnitsa-ot-zapoya/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-2.webp' %}" alt=""></picture>
                  <div class="time">1 приём</div>
                </div>
                <div class="information">
                  <div class="name">Капельница от запоя</div>
                  <div class="price"><span>от</span> 3 500 ₽</div>
                  <div class="info">Возможен срочный вывод из запоя на дому</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/kodirovanie-ot-alkogolizma/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-3.webp' %}" alt=""></picture>
                  <div class="time">Индивидуально</div>
                </div>
                <div class="information">
                  <div class="name">Кодирование от алкоголизма</div>
                  <div class="price"><span>от</span> 5 000 ₽</div>
                  <div class="info">Физическое восстановление организма</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/lechenie-alkogolizma/reabilitatsiya-alkogolizma/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-4.webp' %}" alt=""></picture>
                  <div class="time">от 6 месяцев</div>
                </div>
                <div class="information">
                  <div class="name">Реабилитация алкозависимых</div>
                  <div class="price"><span>от</span> 35 000 ₽</div>
                  <div class="info">Возможен срочный вывод из запоя на дому</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/vyvod-iz-zapoya/narkolog-na-dom/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-5.webp' %}" alt=""></picture>
                  <div class="time">Индивидуально</div>
                </div>
                <div class="information">
                  <div class="name">Наркологическая помощь</div>
                  <div class="price"><span>от</span> 3 500 ₽</div>
                  <div class="info">Первичная диагностика нарколога</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/lechenie-alkogolizma/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-6.webp' %}" alt=""></picture>
                  <div class="time">от 1 года</div>
                </div>
                <div class="information">
                  <div class="name">Амбулаторное лечение алкоголизма</div>
                  <div class="price"><span>от</span> 5 000 ₽</div>
                  <div class="info">Бесплатные личные или онлайн-группы</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/lechenie-narkomanii/reabilitatsiya-narkomanii/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-7.webp' %}" alt=""></picture>
                  <div class="time">от 6 месяцев</div>
                </div>
                <div class="information">
                  <div class="name">Лечение наркомании у подростков</div>
                  <div class="price"><span>от</span> 7 000 ₽</div>
                  <div class="info">Индивидуальная и безопасная программа</div>
                </div></div></div>
            <div class="col s-main-services-list__item"><div class="wrap" href="/service/lechenie-narkomanii/ot-soli/">
                <div class="wrap__image">
                  <picture><img class="img" src="{% static 'netcat_template/template/new_design/assets/upload/services-8.webp' %}" alt=""></picture>
                  <div class="time">от 6 месяцев</div>
                </div>
                <div class="information">
                  <div class="name">Лечение солевой зависимости</div>
                  <div class="price"><span>от</span> 7 000 ₽</div>
                  <div class="info">Основной этап лечения - это прохождение реабилитации в центре</div>
                </div></div></div>
          </div>
        </div>
        <div class="s-main-services__bg"></div>
      </section>

      <section class="s-main-consult">
        <div class="container">
          <div class="row">
            <div class="col col-md-6 f-column">
              <h3 class="section__title">Анонимная и бесплатная консультация специалиста
                <picture><img class="pulse" src="{% static 'netcat_template/template/new_design/assets/upload/pulse.svg' %}" alt=""></picture>
              </h3>
              <div class="section__subtitle">Опытные специалисты нашей клиники помогут найти решение именно в вашей ситуации, обратитесь прямо сейчас!</div>
              <button class="btn red" data-fancybox="" data-src="#feedback">Заявка на консультацию</button>
              <div class="row mt-sm-25">
                <div class="col col-sm-6">
                  <div class="wrap">
                    <div class="title">24/7</div>
                    <div class="info">Наша клиника работает круглосуточно</div>
                  </div>
                </div>
                <div class="col col-sm-6">
                  <div class="wrap">
                    <div class="title">100%</div>
                    <div class="info">Бесплатный подбор программы лечения</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-6 f-column">
              <div class="wrapper__right">
                <div class="title">Бесплатно</div>
                <div class="subtitle">Транспортировка до клиники</div>
                <div class="descr">К пациенту выезжает врач нарколог, применяет при необходимости, меры первичной медицинской помощи, затем сопровождает пациента на всём пути следования в клинику</div>
              </div>
              <div class="wrapper__image"></div>
            </div>
          </div>
        </div>
        <div class="s-main-consult__bg">
          <div></div>
        </div>
      </section>

      <section class="s-steps section__element blue">
        <div class="container">
          <div class="row align-center">
            <div class="col col-sm-5">
              <div class="s-steps__image">
                <picture><img class="img" src="{% static 'image/minDoc.png' %}" alt=""></picture>
                <div class="bg_1"></div>
                <div class="bg_2"></div>
                <div class="bg_3"></div>
              </div>
            </div>
            <div class="col col-sm-7 f-column">
              <h3 class="section__title">Уговорим вашего близкого на&nbsp;лечение</h3>
              <div class="section__subtitle">Безопасная интеграция без физического воздействия
                <picture><img class="pulse" src="{% static 'netcat_template/template/new_design/assets/upload/pulse.svg' %}" alt=""></picture>
              </div>
              <div class="s-steps-list">
                <div class="s-steps-list__item">
                  <div class="item__left">
                    <div class="number">1</div>
                    <div class="info">метод</div>
                  </div>
                  <div class="item__right">
                    <div class="title">Беседа с наркологом в клинике</div>
                    <div class="info">Наш специалист найдет причины, побудившие к употреблению, и выстроит диалог, учитывая индивидуальные особенности пациента</div>
                  </div>
                </div>
                <div class="s-steps-list__item">
                  <div class="item__left">
                    <div class="number">2</div>
                    <div class="info">метод</div>
                  </div>
                  <div class="item__right">
                    <div class="title">Проведение интервенции у вас дома</div>
                    <div class="info">Психологи приедут к вам на дом и проведут мотивационную беседу с зависимыми, практически в 100% случаев пациент соглашается на лечение</div>
                  </div>
                </div>
                <div class="s-steps-list__item">
                  <div class="item__left">
                    <div class="number">3</div>
                    <div class="info">метод</div>
                  </div>
                  <div class="item__right">
                    <div class="title">Мотивация во время экскурсии в центр</div>
                    <div class="info">Специалисты центра произведут зависимому экскурсию и сформируют комплекс доводов, индивидуальных для каждого пациента</div>
                  </div>
                </div>
              </div>
              <button class="btn red" data-fancybox="" data-src="#feedback">Записаться на приём</button>
            </div>
          </div>
        </div>
      </section>

      <section class="s-license">
        <div class="container">
          <div class="row">
            <div class="col f-column">
              <h3 class="section__title white center">Лицензии и сертификаты
                <picture><img class="pulse" src="{% static 'netcat_template/template/new_design/assets/upload/pulse-white.svg' %}" alt=""></picture>
              </h3>
              <div class="s-license__carousel owl-carousel">
                <div class="item">
                  <picture><img class="image" src="{% static 'image/ser/1.jpg' %}" alt=""></picture>
                </div>
                <div class="item">
                  <picture><img class="image" src="{% static 'image/ser/2.jpg' %}" alt=""></picture>
                </div>
                <div class="item">
                  <picture><img class="image" src="{% static 'image/ser/3.jpg' %}" alt=""></picture>
                </div>
              </div>
              <div class="s-license-nav carousel-nav">
                <div class="carousel-btn prev">
                  <svg width="17" height="12" viewbox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.469669 6.53033C0.176777 6.23744 0.176777 5.76256 0.469669 5.46967L5.24264 0.696698C5.53553 0.403805 6.01041 0.403805 6.3033 0.696698C6.59619 0.989592 6.59619 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.59619 10.5355 6.59619 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.469669 6.53033ZM17 6.75L1 6.75L1 5.25L17 5.25L17 6.75Z" fill="white"></path>
                  </svg>
                </div>
                <div class="dots"></div>
                <div class="carousel-btn next">
                  <svg width="17" height="12" viewbox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.696698C11.4645 0.403805 10.9896 0.403805 10.6967 0.696698C10.4038 0.989592 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM6.55671e-08 6.75L16 6.75L16 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z" fill="white"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s-license__bg1"></div>
        <div class="s-license__bg2"></div>
      </section>
      <section class="s-reviews">
        <div class="container">
          <div class="row">
            <div class="col f-column">
              <h3 class="section__title center">Мотивирующие истории
                <picture><img class="pulse" src="{% static 'netcat_template/template/new_design/assets/upload/pulse.svg' %}" alt=""></picture>
              </h3>
              <div class="section__subtitle">Наши клиенты успешно побороли зависимость. Делимся их мотивирующими историями:</div>
            </div>
          </div>
        </div>
        <div class="s-reviews__carousel owl-carousel">




<div class="item ">
  <div class="wrap">
    <div class="name">Мария</div>
    <div class="info">
      <p>Вот уже пять лет я живу в алкогольном аду, который создал для меня собственный муж. С каждым днем ком проблем только увеличивался и однажды я обратилась на телефон доверия клиники «Частный медик 24». Здесь я получила необходимую мне психологическую поддержку, и мне стало намного легче, а далее записалась на прием к психотерапевту и выяснила, что мое состояние связано с созависимостью. Теперь я активно посещаю занятия, чувствую положительные перемены в себе и неимоверное облегчение. Сейчас уже вместе с врачом буду снова пробовать помочь мужу справиться с алкоголизмом, верю, что все получится. Огромное вам спасибо за ваш труд!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Елена М.</div>
    <div class="info">
      <p>Мой муж - алкоголик, наша жизнь уже пять лет похожа на ад. Все становилось только хуже с каждым днем, руки опускались уже: не работали ни уговоры, ни угрозы. Трезвеет, клянется, что завяжет, и все начинается по-новой. Я не выдержала: поняла, что нам нужна помощь. Позвонила на телефон доверия клиники "Свобода", мне ответили и поддержали. Записалась на прием к психотерапевту - оказалось, я созависима. Теперь хожу на занятия, мое состояние сильно улучшилось. Вместе со специалистами уговорили мужа обратиться за помощью в "Свободу". Верю, что все получится. Спасибо, что спасаете жизни!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Яна</div>
    <div class="info">
      <p>Я пила. Много. сначала был бокал вина "для настроения", потом он стал ежедневным, я пила все больше и чаще. На работе начали шептаться, родные задавали вопросы. Подруга однажды взяла за руку и отвела в клинику - сказала, что нужно просто попробовать. Мы с врачом поговорили, и я решила лечь в стационар. Со мной работал психотерапевт, мы разобрались в причинах зависимости и вместе смогли с ней справиться. Главное - не бояться попросить помощи, это я хорошо усвоила. Спасибо "Свободе", что подарила мне новую жизнь!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Вера Васильевна</div>
    <div class="info">
      <p>Мой сын всегда был умным мальчиком, хватким. Закончил школу, получил "вышку", открыл собственный бизнес. Но потом все пошло по наклонной - он начал бороться с постоянной усталостью бутылкой, пока не потерял и семью, и работу. Я не знала, что делать, но сестра посоветовала обратиться в клинику "Свобода". Хорошо, что я ее послушала! Сына вывели из запоя, с ним поработал врач-психотерапевт, он же рассказал, как вести себя нам, его семье. Убедили Лешу лечиться, и он правда перестал пить. Теперь общается с дочкой, помирился с женой, устроился на работу, снова ведет активную жизнь! Слезы наворачиваются, как я рада снова видеть его здоровым и в своем уме! Спасибо, что отвели беду от моего ребенка. Мое сердце теперь спокойно!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Дмитрий Олегович</div>
    <div class="info">
      <p>Я когда-то кодировался от алкоголизма, но не сильно-то помогло. Решил попробовать снова, потому что жить стало невозможно. Нарколог предложил двойную защиту: вшивание и гипноз. И помогло наконец-то! Не хочется даже смотреть на бутылку, а если попадается на глаза - ну и пусть себе стоит! Самочувствие отменное, все отлично, надеюсь, и дальше так будет. Спасибо врачам, что вернули мне мою жизнь! И хорошо, что сразу объясняют, что будут делать и как это работает. Сразу видно профессоналов!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Ира</div>
    <div class="info">
      <p>Спасибо за мужа! Он лежал в стационаре, прошел полный курс реабилитации и буквально стал другим человеком (в лучшем смысле). У нас в доме больше нет спиртного - его некому покупать, оно никому не нужно. Мы наконец-то помирились после многих ссор, начали планировать будущее и откладывать на большие покупки. Врачи "Свободы" спасли Толе жизнь, а еще наш брак. Я была в отчаянии, но теперь даже не думаю о разводе. Мы счастливы! Процветания вам!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Владимир</div>
    <div class="info">
      <p>Много на чем посидел, потом еще тропикамид добавил. Сначала нравилось, потом как-то чуть не умер. Брат был дома, повезло, что заметил и вызвал врачей. Очнулся в клинике, со мной заговорил психотерапевт, и вместе мы пришли к выводу, что все это было... ну, не мое. Не моя жизнь. Что я сам себя разрушаю. Дальше был долгий путь реабилитации, но самое главное, что теперь я чист. Спасибо "Свободе"!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Евгений и Марина</div>
    <div class="info">
      <p>Обратились по поводу алкоголизма сына-подростка. Сначала он выпивал время от времени, потом все чаще, и ничего слушать не хотел. В клинике помогли, теперь он снова ходит на учебу и закрывает долги. Отдельно хотелось бы поблагодарить за курс семейной психотерапии: мы смогли взглянуть по-новому на многие вещи, и теперь наконец-то из жизни ушли постоянные ссоры! Теперь у нас все будет хорошо. Благодаря "Свободе" и ее специалистам.</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Дарья</div>
    <div class="info">
      <p>Спасибо за круглосуточную помощь! Папе стало плохо ночью, вызвала врача из клиники "Свобода". Приехали и помогли, несмотря на позднее время! Мы очень довольны. Врач вел себя очень вежливо и искренне беспокоился за папу вместе со мной, уделял ему все свое внимание. Спасибо за вашу работу!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Михаил Игоревич</div>
    <div class="info">
      <p>Нужно было срочно трезветь. Позвонил в клинику "Свобода", очень быстро приехал врач и все сделал прямо на дому. Организм почистили мягко, я уже на следующий день на работу вышел, чувствовал себя отлично! Спасибо за хороший и своевременный сервис, просто спасли.</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Валентин</div>
    <div class="info">
      <p>Кодировался уколом. Препарат подобрали после обследования, побочек никаких не было вообще. И укол работает, не пью уже больше года, и даже не тянет, хотя и постоянно вижу алкоголь (по работре приходится контактировать). Спасибо, что с такой тонкой проблемой помогли справиться. </p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Семён Витальевич</div>
    <div class="info">
      <p>Раньше вытрезвители были, и кто постарше - помнят, как там было "хорошо". Но недавно судьба привела меня в современный частный аналог этого заведения. Небо и земля! Чистый стационар с ремонтом, персонал и врачи очень внимательные и вежливые. Рекомендую, жаль, раньше таких клиник не было!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Татьяна</div>
    <div class="info">
      <p>Муж подсел на стимуляторы. Обращаться к врачам не хотел, зависимость отрицал. Забросил универ, часто где-то гулял и потом не мог объяснить, где был. "Гулять" мог сутками, полностью пропадая и не выходя на связь. Стал раздражаться по пустякам, когда заговорила о лечении вообще ударил. Я была в отчаянии, и только вместе со свекровью смогла начать поиски хорошей клиники. Не знаю, что сказали Тиме врачи из "Свободы", но ложился в стационар он сам. Уже год как чист, все вернулось на круги своя, будто и не было в нашей жизни коварных стимуляторов. На учебе восстановился! Спасибо за поддержу и заботу!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Светлана Николаевна</div>
    <div class="info">
      <p>Вначале муж стал регулярно выпивать по выходным, но как-то быстро эти посиделки переросли в запои. Они стали повторяться все чаще, сопровождались агрессивным поведением с его стороны. В один из таких запоев поведение мужа стало совсем неадекватным и я даже испугалась, что у него началась белая горячка. Вызвала нарколога на дом, и он сказал, что нужно срочно ложиться стационар. С этого дня ситуация начала меняться в лучшую сторону: муж прошел лечение в клинике, а потом закодировался. Не могу нарадоваться, что он больше не пьет и все эти ужасные алкогольные загулы уже позади. Огромная благодарность врачам и персоналу!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Мария</div>
    <div class="info">
      <p>Когда младшая сестренка подсела на наркотики, я полностью ушла в ее проблему. Измучилась, но и Лизе не помогла, и себя загнала до нервного срыва. Обратилась в вашу клинику и только тогда поняла, что все делала неправильно. Вы мне помогли, вытащили из замкнутого круга бесполезных решений и дали стимул бороться за сестру правильно. Вместе мы вытащим Лизу из этой гадости, уже есть первые улучшения! Спасибо!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Светлана Михайловна</div>
    <div class="info">
      <p>Паша, мой муж, пил сначала только в выходные, и вроде бы все было нормально. Но потом запой "заехал" на рабочую неделю, а после и вообще заменил собой всю жизнь. Периоды неадеквата у Паши затягивались и повторялись все чаще, он стал агрессивным, а однажды совсем слетел с катушек. Думала, у него белочка началась, вызвала нарколога на дом - было очень страшно. Врач сказал, что Паше нужно в больницу, положили его в стационар. И кошмар закончился - его пролечили, а потом он закодировался. Это было его осознанное решение. Сейчас все уже хорошо. Спасибо вам за Пашу! Огромная благодарность за все!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Андрей</div>
    <div class="info">
      <p>Дочка связалась с дурной компанией. Они нам сразу не понравились, но поначалу все будто бы было хорошо. А потом Ника начала употреблять наркотики. Узнали об этом, когда увидели ломку. Страшно испугались, она же маленькая совсем, а это клеймо на всю жизнь! Хорошо, что есть частные клиники. Обратились в "Свободу" и нам предложили программу для несовершеннолетних. Анонимно! Ника сейчас чистая, ничего не употребляет, с компанией той не общается. Посоветовала им лечиться и при нас удалила номера! Спасибо! Этот этап для нашей семьи в прошлом. И главное, на будущем дочери он никак не скажется!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Леонид Викторович</div>
    <div class="info">
      <p>Закодировался в "Свободе. Не верил, что поможет. Верить было не обязательно. Главное, что помогло. Выбрал иглоукалывание. Ни дискомфорта, ни побочек. Со здоровьем теперь все хорошо. Даже за праздничным столом не обращаю внимания на алкоголь. Никакого вообще. Родственники в шоке. Спасибо! Помогли.</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Наталья</div>
    <div class="info">
      <p>Обычно муж с похмелья нормальный, а тут вдруг плохо стало. Вызвали врача из "Свободы", его прокапали. Я уже полотенца в больницу собираю, а мне говорят, что не обязательно. Все на дому сделали, и быстро приехали. Мужа отпустило, врач с ним поговорил, на следующий день еще перезванивал - самочувствие узнать. Вот это сервис! Спасибо за помощь и поддержку!</p>
    </div>
  </div>
</div>




<div class="item ">
  <div class="wrap">
    <div class="name">Руслан</div>
    <div class="info">
      <p>Наркотики попробовал еще студентом, а потом понеслось. К тридцати от здоровья не осталось почти ничего, учебу бросил, работы толком нет - случайные заработки. Друзей нет, личной жизни нет. Родители только руки не опустили, именно они и привели меня к "Свободе", во всех смыслах. Прошел реабилитацию в двенадцать шагов, и сегодня я уже другой человек. Как вспомню что творил раньше - бросает в дрожь. Никогда до такого больше не опущусь. Спасибо врачам, вытащили из бездонной ямы. И родителям. Люблю их.</p>
    </div>
  </div>
</div>



        </div>
        <div class="s-reviews-nav carousel-nav">
          <div class="carousel-btn prev">
            <svg width="17" height="12" viewbox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.469669 6.53033C0.176777 6.23744 0.176777 5.76256 0.469669 5.46967L5.24264 0.696698C5.53553 0.403805 6.01041 0.403805 6.3033 0.696698C6.59619 0.989592 6.59619 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.59619 10.5355 6.59619 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.469669 6.53033ZM17 6.75L1 6.75L1 5.25L17 5.25L17 6.75Z" fill="white"></path>
            </svg>
          </div>
          <div class="dots"></div>
          <div class="carousel-btn next">
            <svg width="17" height="12" viewbox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5303 6.53033C16.8232 6.23744 16.8232 5.76256 16.5303 5.46967L11.7574 0.696698C11.4645 0.403805 10.9896 0.403805 10.6967 0.696698C10.4038 0.989592 10.4038 1.46447 10.6967 1.75736L14.9393 6L10.6967 10.2426C10.4038 10.5355 10.4038 11.0104 10.6967 11.3033C10.9896 11.5962 11.4645 11.5962 11.7574 11.3033L16.5303 6.53033ZM6.55671e-08 6.75L16 6.75L16 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z" fill="white"></path>
            </svg>
          </div>
        </div>
        <picture><img class="s-reviews__quote" src="{% static 'netcat_template/template/new_design/assets/upload/quote.svg' %}" alt=""></picture>
        <div class="s-reviews__bg"></div>
      </section>
      <section class="s-faq" itemscope="" itemtype="https://schema.org/FAQPage">
        <div class="container">
          <div class="row">
            <div class="col f-column">
              <h3 class="section__title center">Ответы на часто задаваемые вопросы
                <picture><img class="pulse" src="netcat_template/template/new_design/assets/upload/pulse.svg" alt=""></picture>
              </h3>
              <div class="section__subtitle">Наши специалисты ответят на любой вопрос на бесплатной консультации</div>
            </div>
          </div>
          <div class="row">
            <div class="col f-column">
              <div class="accordion-list">
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Я пью только пиво, но почти каждый день. Моей социальной и профессиональной жизни это никак не мешает! Можно ли это считать проблемой?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Увы, но да: пристрастие к пиву поначалу не выглядит опасным, но со временем может принести много проблем. Лучше обратиться к врачу до того, как личная и профессионалная жизнь начнет страдать от пагубного пристрастия.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Мой знакомый сам бросил пить, и больше ни разу не сорвался. Так ли нужно обращаться в клинику?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Если ремиссия вашего знакомого длится уже долгое время - ему очень повезло. Как правило, при самостоятельном лечении срывы случаются очень часто. Зависимость - это болезнь, и обычно без помощи врача справиться с ней невозможно.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Я хочу отказаться от алкоголя, но мне не хватает воли. Уже страдает здоровье, работа и личная жизнь, но бросить пить не получается. Поможет ли мне лечение?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Конечно, поможет! Вас обследуют квалифицированные специалисты, включая психологов, они помогут вам не только справиться с последствиями зависимости, но и найти силы отказаться от пагубной привычки навсегда.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Мой ребенок учится в ВУЗе, и его отчислят, если я отправлю его на лечение! Как быть?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Смело отправляйте его на лечение в нашу клинику. Все обращения анонимны, в учебном заведении об этом не узнают - мы не отправляем отчетов о работе ни в какие инстанции и не ставим пометок в общих документах.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Мой ребенок поздно возвращается домой. Алкоголем от него не пахнет, но поведение стало странным и подозрительным. В этом могут быть виноваты наркотики?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Да, есть вероятность наркомании. Чтобы не гадать, лучше сдать анализы и исключить главные риски. В нашей клинике можно сделать это анонимно, при этом дальшейние решения, будь то решение о лечении или госпитализации, останутся вам.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Мой брат лечился от зависимости народными средствами, но вместо избавления получил только проблемы со здоровьем. Не будет ли клиническое лечение таким же опасным?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Нет, именно комплексный медицинский подход к проблеме способен ее решить. "Народные" средства часто бесполезны, а то и опасны. На стороне наших методик годы практики и исследований, конкретная терапия подбирается с учетом результатов диагностики. Побочных эффектов не будет, а зависимость уйдет в прошлое.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Моя жена часто позволяла себе выпить, но теперь начала истерить и устраивать скандалы "под градусом". Что с ней?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Это следующая стадия зависимости. Вашей жене срочно нужна помощь врача и полный отказ от алкоголя.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">У мужа проблемы с почками, поэтому ему срочно необходимо бросить пить. Но все способы лечения имеют противопоказания, что нам делать?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">В любом случае лечение подбирается индивидуально, с учетом непереносимости определенных лекарств и методик. Всегда есть шанс, обратитесь в нашу клинику - и мы избавим вашего мужа от пагубной привычки.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Сколько займет лечение, если я хочу навсегда избавиться от зависимости?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Каждый случай индивидуален. Вместе с периодом реабилитации лечение может занимать до полугода или с успехом завершиться через 2-3 месяца.</div></div>
                </div>
                <div class="item accordion" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <div class="accordion__header" itemprop="name">Обязательно ли мне ложиться в клинику после вызова врача на дом?<span class="caret"></span></div>
                  <div class="accordion__description" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">Мы предлагаем такую возможность каждому пациенту, это очень желательно. Всесторонняя помощь и надзор медиков могут ускорить выздоровление. Но решение остается за пациентом и\или его опекуном.</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-article">
        <div class="container">
          <div class="row">
            <div class="col">
              <article class="is-hidden_NOT">
                <div class="wrapper">
            <h2>Клиника "Свобода", Ростов-на-Дону</h2>            <div>
                  <p>От паталогических зависимостей страдают миллионы людей по всему миру. Статистика по разным данным немного разнится, но примерное количество так или иначе зависимых людей приближается к 165 000 000. Однако в этой цифре учтены только люди, обратившиеся за помощью - зависимых в мире значительно больше.</p>
<p>Есть экспертное мнение, что зависимость неизлечима. Отчасти это правда, но правильное лечение способно ввести ее в ремиссию - при условии, что пациент будет соблюдать рекомендации специалиста и избегать ситуаций, провоцирующих срыв. В таком случае человек может прожить всю жизнь, больше не вернувшись к прежнему состоянию.</p>
                  <h3>Лечение алкогольной и наркотической зависимости в Ростове-на-Дону</h3>
                  <p>Клиника "Свобода" занимается диагностированием и всесторонним лечением зависимостей разного рода. В том числе к нам обращаются люди, страдающие от следующих проблем:</p>
                  <ol>
                    <li>Наркомания - зависимость от психоактивных веществ как синтетического, так и натурального происхождения.</li>
                    <li>Алкоголизм - болезненная зависимость от частого употребления спиртосодержащих напитков. </li>
                    <li>Игромания - нехимическая зависимость, провоцирующая зависимого увлекаться азартными или онлайн-играми в ущерб полноценной социальной жизни.</li>
                    <li>Курение - тяга к употреблению табака, от которого зависимый не может отказаться, даже если пагубная привычка представляет реальную опасность для его жизни.</li>
                  </ol>
<p>Зависимости развиваются по единому принципу, и подходы к лечению схожи. Целью врача-специалиста является снятие тяги к объекту зависимости, восстановить психическое и физическое здоровье человека, помочь ему взять зависимость под контроль и научиться избегать факторов, провоцирующих рецидив.</p>
                  <p>Специалисты клиники "Свобода" имеют большой опыт проработки даже серьезных и затяжных случаев зависимости. Наши врачи находят индивидуальный подход в уникальном случае каждого пациента.</p>
<div class="video_block">
</div></div>                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="s-image">
        <div class="s-image__wrapper">
          <picture><img class="s-image__image" src="{% static 'netcat_template/template/new_design/assets/upload/shutterstock_5830659851.webp' %}" alt=""></picture>
        </div>
        <div class="s-image__bg"></div>
      </section>
      <section class="s-article">
        <div class="container">
          <div class="row">
            <div class="col">
              <article class="is-hidden_NOT">
                <div class="wrapper">
            <h2>Срочная помощь нарколога в г.Ростов-на-Дону</h2>            <div>
<p>Любая зависимость развивается по спирали, как правило, серьезные осложнения происходят регулярно и циклично. При этом возможны психические проблемы, делающие невозможной транспортировку пациента в клинику. В этом случае стоит вызвать специалиста на дом. Государственные больницы тоже могут прийти на помощь, но обращение в нашу клинику имеет несколько весомых плюсов:</p>
                <ul>
                  <li>На вызов прибывают не только санитары, но и квалифицированный нарколог;</li>
                  <li>Наша бригада лучше укомплектована оборудованием и медикаментами;</li>
                  <li>Все обращения остаются анонимными, мы не отправляем обязательных отчетов и сохраним ваше горе в тайне.</li>
                </ul>
                  <blockquote>
                                    <p>Частная клиника - лучший вариант для тех, кто заботится о своей репутации и здоровье. В конечном счете лучшее оснащение бригады может сэкономить много времени или даже спасти жизнь.</p>

                  </blockquote>
                <p>Вызов врача на дом необходим, если вы или ваш близкий:</p>
                <ul>
                  <li>Находитесь в состоянии "ломки" или "похмелья", испытываете тягу к объекту зависимости, которую не можете побороть самостоятельно;</li>
                  <li>Находитесь в остром периоде зависимости ("запое");</li>
                  <li>Переживаете любые осложнения или необычные болезненные ощущения в острой фазе зависимости.</li>
                </ul>
                <p>Помимо запоев существуют также "псевдозапои", или "запои выходного дня". Они не представляют такой серьезной угрозы, но все же опасны для пациента и его окружения. Отличие от классического "запоя" будет в возможности пациента взять себя в руки и прекратить употребление спиртного, чтобы пойти на работу или выполнить иные обязанности. Человек в более тяжелой стадии алкоголизма не сможет себя остановить, даже если захочет. Однако помощь специалистов может привести пациента в норму значительно быстрее: срок, который потребуется для полного физического восстановления, варьируется от нескольких часов до двух-трех дней и зависит от степени опьянения и продолжительности запоя.</p>
                <p>Домашнее и стационарное лечение отличаются глубиной диагностики и возможностью круглосуточного присутствия специалиста. При этом домашнее лечение обойдется дешевле, по тем же причинам. Увы, невозможно выполнить все необходимые процедуры, если пациент находится дома, а не в клинике. Однако у такого способа есть свои плюсы: </p>
                <ul>
                  <li>Он всегда абсолютно анонимен;</li>
                  <li>Пациенту в привычном месте значительно комфортней;</li>
                  <li>Он может продолжать жить своей обычной жизнью: работать, общаться с близкими, заботиться о детях и пожилых родственниках.</li></ul>
                <p>По законам Российской Федерации желание самого пациента имеет большое значение в вопросах, касающихся госпитализации. Поэтому обязательно поговорите с близким, нуждающимся в помощи, и предупредите, что скоро прибудет врач, чтобы улучить его состояние.</p></div>                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
{% endblock %}