{% load static %}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MVJF733');</script>
 <script src="2.1/json.txt?apikey=c495520d-b91a-4237-8fa2-60409ebf1be2&amp;lang=ru_RU"></script>
    <script src="{% static 'netcat_template/template/new_design/assets/js/libs.min.js' %}"></script>
    <script src="{% static 'netcat_template/template/new_design/assets/js/scripts.min.js' %}"></script>
    <script src="{% static 'netcat_template/template/new_design/assets/js/ajax.min.js' %}"></script>
    <script src="{% static 'netcat_template/template/new_design/assets/js/jquery.mask.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'netcat_template/template/new_design/assets/js/jquery-ui.min.css' %}">
    <script src="{% static 'netcat_template/template/new_design/assets/js/jquery-ui.min.js' %}"></script>

<link rel="icon" href="{% static 'favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
<link rel="shortcut icon" type="image/icon" href="{% static 'favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'netcat_template/template/1_column/images/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'netcat_template/template/1_column/images/favicon/favicon-16x16.png' %}">
<meta name="msapplication-config" content="{% static '/netcat_template/template/1_column/images/favicon/browserconfig.xml' %}">
<link rel="manifest" href="{% static 'netcat_template/template/1_column/images/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'netcat_template/template/1_column/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'netcat_template/template/new_design/assets/css/main.min.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Наркологическая клиника лечения всех типов зависимости "Свобода"</title>
    <meta name="description" content="Лечение алкоголизма, наркомании, игромании. Вывод из запоя, кодирование и реабилитация. Полностью анонимно!">

