{% load static %}
    <script src="{%  static 'netcat_template/template/new_design/assets/js/libs.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/scripts.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/ajax.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/jquery.mask.min.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'netcat_template/template/new_design/assets/js/jquery-ui.min.css' %}">
    <script src="{%  static 'netcat_template/template/new_design/assets/js/jquery-ui.min.js' %}"></script>
    <script src="{%  static 'ajax/libs/sourcebuster-js/1.1.0/sourcebuster.min.js '%}" integrity="sha512-yR/4jcZbxr8bPV2135jR5abfwuQ+KHUScLC9hqSRMsWdZza/l1Fbs7B8AZOQreTfbfzPRezAWfhJvSWqpBi8qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!— Yandex.Metrika counter —>
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();
for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(92251007, "init", {
clickmap:true,
trackLinks:true,
accurateTrackBounce:true,
webvisor:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92251007" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>