{% load static %}
    <script src="{%  static 'netcat_template/template/new_design/assets/js/libs.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/scripts.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/ajax.min.js' %}"></script>
    <script src="{%  static 'netcat_template/template/new_design/assets/js/jquery.mask.min.js' %}"></script>
    <link rel="stylesheet" href="{%  static 'netcat_template/template/new_design/assets/js/jquery-ui.min.css' %}">
    <script src="{%  static 'netcat_template/template/new_design/assets/js/jquery-ui.min.js' %}"></script>
    <script src="{%  static 'ajax/libs/sourcebuster-js/1.1.0/sourcebuster.min.js '%}" integrity="sha512-yR/4jcZbxr8bPV2135jR5abfwuQ+KHUScLC9hqSRMsWdZza/l1Fbs7B8AZOQreTfbfzPRezAWfhJvSWqpBi8qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
